.oSummary-container h3 {
  text-align: center;
  margin-bottom: 50px;
}
.summary-info {
  margin-bottom: 60px;
}
.clear-cart-btn {
  background-color: #ff3030;
  width: 100%;
  padding: 15px 20px;
  color: white;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
}
.review-order-btn {
  background-color: #ff9900;
  width: 100%;
  padding: 15px 20px;
  color: white;
  border: none;
  border-radius: 4px;
}
.oSummary-container button:hover {
  cursor: pointer;
  opacity: 0.7;
}
